@tailwind base;
@tailwind components;
@tailwind utilities;


  .card-shadow {
    box-shadow: rgba(155, 155, 155, 0.3) 0 2px 6px,
      rgba(155, 155, 155, 0.22) 0 0 4px;
    border-radius: 24px;}       

    .black-gradient {
      background: #000000;
      background: -webkit-linear-gradient(to right, #434343, #000000);
      background: linear-gradient(to right, #434343, #000000);
    }
    
    .bw-gradient {
      background: rgb(10, 10, 10);
      background: linear-gradient(
        180deg,
        rgba(10, 10, 10, 0.8) 40%,
        rgba(153, 153, 161, 0) 70%
      );
    }
    
    .card-gradient {
      background: rgb(244, 244, 246);
      background: linear-gradient(
        158deg,
        rgba(153, 153, 161, 1) 25%,
        rgba(153, 153, 161, 1) 100%
      );
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      scroll-behavior: smooth;
    
    }
    /* In your global CSS or Tailwind configuration */
@keyframes wobble {
  0% { transform: rotate(-3deg); }
  50% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.animate-wobble {
  animation: wobble 2s ease-in-out infinite;
}
